<div class="col-xs-4 col-xs-offset-4">
  <p>It will be a place that users can come to explore books and their genre. As well as share their opinions and filter the contents based on various properties.</p>
</div>