
<div class="col-xs-4 col-xs-offset-6">
  <%= form_for [@book, @review] do |b|%>
      <%= b.label :reply %> <br \>
      <%= b.text_field :reply %> <br \>
      <div style="padding:5px;">
        <%= b.submit :class => "btn btn-primary" %> <br \>
      </div>
  <%end%>
</div>