<h3><label for="frame" class="label label-default"><%= @book.name %></label></h3>
<div class="col-xs-3 well">
  <div class="row">
    <%= book.description %>
  </div>
  <div class="row">
    <%= book.author %>
  </div>
</div>